<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Document</title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <ul>
        <li th:text="${user.name}"></li> 
        <!--SI QUEREMOS QUE MUESTRE LOS NOMBRES USANDO UN OBJETO, USAMOS OBEJETO.VALOR (user.name)-->
        <li th:text="${user.lastname}"></li>

        <!--IF USER EXISTS THEN MUESTRALO-->
        <li th:if="${user.email}" th:text="${user.email}"></li>

        <!--else-->
        <li th:if="${user.email == null}" th:text="${'no tiene email'}"></li>
    </ul>
    <a th:href="@{/list}">listado</a>
</body>
</html>